/* tamanho da tela width = 375px e height = 667px*/

/* ---------------------------- barra fixa de cima -----------------------------------------*/

.container{
    width: 385px;
    height: 667px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:#F3F3F3;
}



.barra-fixa {
    width: 385px;
    height: 80px;
    background-color: #FFFFFF;
    z-index: 1;
}

.topo {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.logo{
    width: 75px;
    height: 53px;
    margin-left: 22px;
    margin-top: 16px;
}

.icone{
    width: 42.19px;
    height: 30.94px;
    margin-right: 22.41px;
    margin-top: 25.03px;
}

ion-icon {
    width: 100%;
    height: 100%;
}

/* ------------------------ Menu lateral ------------------------------------------*/

.escondido {
    display: none;
}

.menu {
    height: 667px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 269px;
    height: 667px;
    z-index: 3;
    background-color: #FFFFFF;
}

.metade-cinza {
    width: 385px;
    height: 667px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.menu div {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.menu .icones {
    width: 23px;
    height: 23px;
    margin-right: 8px;
}

.menu p {
    text-align: center;
    font-weight: 700;
}

.texto-negrito {
    width: 269px;
    height: 84px;
    display: flex;
    justify-content: center;
}

.texto-menu {
    margin-left: 18px;
    margin-bottom: 14px;
}

.icone-check {
    width: 20px;
    height: 15px;
    margin-left: 50px;
}

.icone-check ion-icon {
    color: #28BB25;
    font-size: 100%;
}

.enviando-para {
    width: 299px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #505050;
}

/* ------------------------ Conteúdo (mensagens) ------------------------------------------*/

.conteudo {
    height: 75vh;
    margin-top: 106px;
    margin-bottom: 106px;
    background-color: #F3F3F3;
    overflow-y: scroll;
    
}

.conteudo div {
    width: 385px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 2px;
    
}

.conteudo span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 368px;
    margin-left: 8px;   
}

span.negrito {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 0px;
}
.status {
    background-color: #DCDCDC;
}

.normais {
    background-color: #FFFFFF;
}

.reservadas {
    background-color: #FFDEDE;   
}



/* ----------------------------- barra fixa debaixo -----------------------------------------*/

.baixo {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.campo-digita-mensagem{
    width: 145px;
    height: 30px;
    margin-left: 17px;
}

.campo-digita-mensagem input{
    border: 0px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.icone-mandar-mensagem {
    width: 26px;
    height: 26px;
    margin-right: 18px;
}